.waiterViewContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr 4fr 4fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

.typeMenuButtons {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: center;
}

.typeMenuButton {
  margin: 1em 1em 2em 2em;
  width: 13em;
  height: 9em;
  background-color: #f8ffef;
  border-radius: 15px;
}

.productButtonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-column-end: 3;
  width: fit-content;
  height: fit-content;
  justify-content: space-evenly;
}

.productButton {
  width: 10em;
  height: 5em;
  background-color: #f8ffef;
  border-radius: 15px;
  border: #ccff1d solid 7px;
  font-size: larger;
  font-weight: bolder;
  padding: 0.2em;
  margin: 0.3em;
}

.order {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  display: flex;
  width: 80%;
  height: 380px;
  margin:0;
  background-color: #e60d0dbb;
  margin-left: 10%;
  margin-right: 10%;
}

.orderButton {
  padding: 1em;
  text-align: center;
}
